/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/framework
/vendor/laravel/framework/*
!/vendor/laravel/framework/src
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Auth
/vendor/laravel/framework/src/Illuminate/Auth/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware
/vendor/laravel/framework/src/Illuminate/Auth/Middleware/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php

!/vendor/swiftmailer
/vendor/swiftmailer/*
!/vendor/swiftmailer/swiftmailer
/vendor/swiftmailer/swiftmailer/*
!/vendor/swiftmailer/swiftmailer/lib
/vendor/swiftmailer/swiftmailer/lib/*
!/vendor/swiftmailer/swiftmailer/lib/classes
/vendor/swiftmailer/swiftmailer/lib/classes/*
!/vendor/swiftmailer/swiftmailer/lib/classes/Swift
/vendor/swiftmailer/swiftmailer/lib/classes/Swift/*
!/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport
/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/*
!/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/StreamBuffer.php

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
