/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/framework
/vendor/laravel/framework/*
!/vendor/laravel/framework/src
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Auth
/vendor/laravel/framework/src/Illuminate/Auth/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware
/vendor/laravel/framework/src/Illuminate/Auth/Middleware/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
